@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    max-width: 1920px;
    background: green;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
}

h1 {
    color: red;
    font-size: 72px;
    text-align: center;
    background: black;
}

img {
    width: 300px;
}